@import "modern-normalize";


:root {
    line-height: 1.5;
    --light-color: #F5F5F7;
    --dark-color: #221F20;
    --container--padding-inline: 13%;
    --footer-padding-inline: 10%;

    @media screen and (max-width: 770px) {
        & {
            --container--padding-inline: 6%;
            --footer-padding-inline: 6%;
        }

    }

    @media screen and (max-width: 576px) {
        --container--padding-inline: 15px;
        --footer-padding-inline: 15px;
    }
}

* {
    font-family: Inter;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
    width: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}


html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.container {
    padding: 0 var(--container--padding-inline);
}

.promo {
    position: relative;
    min-height: 100vh;
    background: url(../img/Bg.jpg) center center / cover no-repeat;
    padding-top: 75px;

    @media screen and (max-width: 770px) {
        & {
            background-image: url(../img/table-rose.png);
            background-color: #000;
            background-position: 18%;
        }
    }

    @media screen and (max-width: 576px) {
        min-height: 500px;
        padding-top: 50px;
        background-position: 20%;
    }

}


.promo__title {
    color: var(--light-color, rgba(245, 245, 247, 1));
    font-size: 60px;
    font-weight: 400;
    line-height: 73px;
    text-transform: uppercase;

    @media screen and (max-width: 770px) {
        font-size: 48px;
    }

    @media screen and (max-width: 576px) {
        font-size: 26px;
    }
}

.promo__subtitle {
    color: var(--light-color, rgba(245, 245, 247, 1));
    font-size: 32px;
    font-weight: 100;
    line-height: 39px;
    text-align: left;
    margin-top: 124px;

    @media screen and (max-width: 770px) {
        margin-top: 80px;
    }

    @media screen and (max-width: 576px) {
        margin-top: 30px;
        font-size: 16px;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 3px 10px;
    margin-top: 20px;
    width: 160px;
    min-height: 38px;
    box-sizing: border-box;
    border: 1px solid var(--light-color, rgba(245, 245, 247, 1));
    background: rgba(217, 217, 217, 0);
    color: var(--light-color, rgba(245, 245, 247, 1));
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    cursor: pointer;
    transition: all 0.3s ease-out;

    @media screen and (max-width: 576px) {
        font-size: 14px;
        width: 120px;
        min-height: 30px;
    }
}

.btn:hover {
    font-weight: 500;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
}

.promo__address {
    position: relative;
    margin-top: 100px;
    color: var(--light-color, rgba(245, 245, 247, 1));
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    text-align: left;

    address {
        font-style: normal;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 40px;
        height: 49px;
        left: -45px;
        top: -17px;
        background: url(../icons/sotset/Arrow.svg) center center / cover no-repeat
    }

    @media screen and (max-width: 770px) {
        & {
            margin-top: 80px;
        }

        &::before {
            left: -40px;
        }
    }

    @media screen and (max-width: 750px) {
        &::before {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        margin-top: 233px;
    }
}

.keywords {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 0 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(180.00deg,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(255, 255, 255, 0.12) 50%,
            rgba(255, 255, 255, 0.2) 100%);

    li {
        list-style-type: none;
        color: var(--light-color, rgba(245, 245, 247, 1));
        font-size: 10px;
        font-weight: 100;
        line-height: 12px;
    }

    @media screen and (max-width: 1440px) {
        & {
            padding: 0 20px;
        }

    }

    @media screen and (max-width:770px) {
        & li:nth-last-child(-n + 6) {
            display: none;
        }

    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 10px;
        }

        & li:nth-last-child(-n + 10) {
            display: none;
        }
    }
}

.about {
    border-color: var(--light-color);
    padding-top: 80px;

    @media screen and (max-width: 576px) {
        padding-top: 50px;

    }

}

.about__title {
    color: var(--dark-color, rgba(34, 31, 32, 1));
    font-style: Italic;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
}

.about__text {
    width: 1100px;
    /* height: 192px; */
    margin-top: 20px;
    color: var(--dark-color);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;

    span {
        color: rgba(165, 165, 165, 1);
    }

    @media screen and (max-width: 1440px) {
        & {
            width: 100%;
        }

    }

    @media screen and (max-width: 770px) {
        font-size: 24px;

    }

    @media screen and (max-width:576px) {
        font-size: 16px;
        line-height: 19px;
    }
}

.servisec {
    margin-top: 80px;

    @media screen and (max-width:770px) {
        margin-top: 40px;
    }

    @media screen and (max-width:576px) {
        margin-top: 20px;

    }
}

.servisec__class {
    color: var(--dark-color, rgba(34, 31, 32, 1));
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 50%;
    margin-top: 20px;

    @media screen and (max-width: 770px) {
        width: 100%;
    }

    @media screen and (max-width:576px) {
        font-size: 14px;
        line-height: 17px;
    }


}

.services__items-subtitel {
    font-style: Italic;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0%;

    @media screen and (max-width: 576px) {
        font-size: 12px;
        line-height: 15px;

    }
}

.services__items {
    color: var(--dark-colork, rgba(34, 31, 32, 1));
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    /* margin-top: 80px; */

    ul {
        padding: 0;
    }

    li {
        position: relative;
        list-style-type: none;
        margin-top: 10px;

        &:first-child::before {
            content: '';
            display: block;
            position: absolute;
            left: -30px;
            width: 15px;
            height: 15px;
            background: url(../icons/Camera.svg) center center / cover no-repeat
        }

        &:last-child::before {
            content: '';
            display: block;
            position: absolute;
            left: -30px;
            width: 15px;
            height: 15px;
            background: url(../icons/Edit.svg) center center / cover no-repeat
        }


    }

    @media screen and (max-width:576px) {
        & li {
            margin-top: 5px;
            font-size: 14px;
            line-height: 17px;
        }
    }

    @media screen and (max-width: 576px) {
        & li:first-child::before {
            display: none;
        }

        & li:last-child::before {
            display: none;
        }

    }
}

.services__text {
    margin-top: -20px;
    width: 50%;
    color: var(--dark-color, rgba(34, 31, 32, 1));
    font-style: Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    @media screen and (max-width: 770px) {
        width: 100%;
        margin-top: 40px;
    }

    @media screen and (max-width:576px) {
        margin-top: 20px;
        font-size: 12px;
        /* line-height: 15px; */
    }
}

.flex {
    display: flex;

    @media screen and (max-width: 770px) {
        flex-wrap: wrap;
    }

}

.works {
    border-color: var(--light-color);
    padding-top: 80px;

    @media screen and (max-width: 770px) {
        padding-top: 50px;
    }

}

.title {
    color: var(--dark-color, rgba(34, 31, 32, 1));
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;

    span {
        position: relative;
    }

    span::after {
        content: '';
        position: absolute;
        bottom: -1px;
        right: 0;
        display: block;
        width: 75px;
        height: 0px;
        border: 2px solid rgba(0, 0, 0, 1);
    }

    @media screen and (max-width: 770px) {
        font-size: 36px;
        line-height: 44px;
    }

    @media screen and (max-width: 576px) {
        font-size: 24px;
        line-height: 29px;
    }
}

.works__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.5fr;
    row-gap: 50px;
    column-gap: 30px;
    margin-top: 50px;

    @media screen and (max-width:770px) {
        row-gap: 30px;
        column-gap: 20px;
        margin-top: 41px;
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) 1.5fr;
        row-gap: 30px;
        column-gap: 0px;
    }
}

.inspiration {
    margin-top: 80px;

    @media screen and (max-width:770px) {
        margin-top: 50px;
    }
}

.inspriration__grid {
    margin-top: 53px;
    display: grid;
    /* width: 1113px; */
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    #sky {
        grid-column: 2/4;
        grid-row: 2;


    }

    #tenement {
        grid-column: 4;
        grid-row: 1/3;
        height: 100%;
    }

    #cat {
        grid-row: 2;
    }

    @media screen and (max-width:770px) {
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 20px;

        #man {
            grid-column: 1/3;
            grid-row: 1;
            height: 100%;
        }

        #horses {
            grid-column: 3/5;
            grid-row: 1;
        }

        #tenement {
            grid-column: 3/5;
            grid-row: 2/4;
        }

        #bridge {
            grid-column: 1/3;
            grid-row: 2/3;
            height: 100%;
        }

        #cat {
            grid-column: 1/3;
            grid-row: 3/4;
            height: 100%;
        }

        #sky {
            grid-column: 1/5;
            grid-row: 4/5;
        }
    }

    @media screen and (max-width:576px) {
        row-gap: 20px;
        grid-template-columns: 1fr;

        #man {
            grid-row: 1/2;
            grid-column: 1/4;
        }

        #horses {
            grid-row: 2/3;
            grid-column: 1/4;
        }

        #bridge {
            grid-row: 3/4;
            grid-column: 1/4;
        }

        #tenement {
            grid-row: 4/6;
            grid-column: 1/4;
        }

        #cat {
            grid-row: 6/7;
            grid-column: 1/4;
        }

        #sky {
            grid-row: 7/8;
            grid-column: 1/4;
        }
    }
}

.customers {
    padding-top: 80px;
    padding-bottom: 100px;

    /* background-color: var(--light-color) */
    @media screen and (max-width:770px) {
        padding-top: 50px;
    }
}

.customers_flex {
    margin-top: 50px;
    gap: 30px;
    display: flex;

    & img {
        display: flex;
        width: calc((100% - 90px) / 4);
        /* flex-wrap: wrap; */
        max-width: 260px;
        max-height: 200px;
    }

    @media screen and (max-width:770px) {
        margin-top: 40px;
        gap: 20px;

        & img {
            width: 154px;
            height: 116px;
        }
    }

    @media screen and (max-width:576px) {
        margin-top: 30px;
        flex-wrap: wrap;
        gap: 36px;

        & img {
            width: 44%;
            height: 170px;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--footer-padding-inline);
    background: #000;
    color: var(--light-color, rgba(245, 245, 247, 1));
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    @media screen and (max-width:770px) {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: normal;
        font-size: 16px;
        line-height: 19px;
    }

    @media screen and (max-width:576px) {
        align-items: center;
    }
}

.footer__addres {
    font-style: normal;

    @media screen and (max-width:770px) {
        margin-top: 30px;
    }
}

.footer__tel {
    color: var(--light-color, rgba(245, 245, 247, 1));
    text-decoration: none;

    @media screen and (max-width:770px) {
        margin-top: 30px;
    }
}

.footer_social {
    padding-left: 0;
    column-gap: 30px;
    list-style: none;
    display: flex;

    li {
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        border: 1px solid var(--light-color, rgba(245, 245, 247, 1));
        background: rgba(217, 217, 217, 0);

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            img {
                width: 22px;
                height: 22px;

            }
        }
    }

    @media screen and (max-width:770px) {
        margin-top: 30px;
    }
}